<<<<<<< HEAD
=======

>>>>>>> 9a007ea9e5b627700b80067fb778be1fd535cb7b

.active-student {
    border: 2px solid green;
    background-color:  white;
    cursor: pointer;
}

.inactive-student {
    border:  2px solid red;
    background-color: white;
    cursor: pointer;

<<<<<<< HEAD
ul {
    list-style: none;
    padding-left: 5px;
=======

ul {
    list-style: none;
    padding-left: 5px;

>>>>>>> 9a007ea9e5b627700b80067fb778be1fd535cb7b
}